<div>
    <form>
        <h4 class="text-center mb-0" ng-bind="fromFor"> </h4>
        <div class="mt-5 mx-auto " style="width: 90% !important;margin-bottom: 3.5rem;">
            <div class="form-group" style="padding: 1rem;border: 1px solid #999;border-radius:5px">
                <label for="name">अपना नाम दर्ज करें</label>
                <input class="form-control" type="text" ng-model="seva.name" name="name" placeholder="आपका नाम"
                    style="border-bottom: 1px dotted #999;border-left: 0;border-right: 0;border-top: 0;border-radius: 0;">
            </div>
            <div class="form-group" style="padding: 1rem;border: 1px solid #999;border-radius:5px">
                <label for="name">आपके घर से इनमे से कौनसी जगह सबसे पास है ?</label>
                <div class="d-flex flex-wrap justify-content-between">
                    <p class="p-1 text-center"
                        style="border-radius: 5px;border: 1px solid #999;width: 40%; margin: auto;margin-bottom: 0.5rem;"
                        id="सोनपुर" ng-class="{active : activeMenu === 'सोनपुर'}" ng-click="service($event)">सोनपुर</p>
                    <p class="p-1 text-center"
                        style="border-radius: 5px;border: 1px solid #999;width: 40%; margin: auto;margin-bottom: 0.5rem;"
                        id="गौतम_चौक" ng-class="{active : activeMenu === 'गौतम_चौक'}" ng-click="service($event)">गौतम चौक
                    </p>
                    <p class="p-1 text-center"
                        style="border-radius: 5px;border: 1px solid #999;width: 40%; margin: auto;margin-bottom: 0.5rem;"
                        id="बदुराही" ng-class="{active : activeMenu === 'बदुराही'}" ng-click="service($event)">बदुराही</p>
                    <p class="p-1 text-center"
                        style="border-radius: 5px;border: 1px solid #999;width: 40%; margin: auto;margin-bottom: 0.5rem;"
                        id="गोला_बाजार" ng-class="{active : activeMenu === 'गोला_बाजार'}" ng-click="service($event)">गोला
                        बाजार</p>
                </div>
    
            </div>
            <div class="form-group" style="padding: 1rem;border: 1px solid #999;border-radius:5px">
                <label for="name">फ़ोन नंबर</label>
                <input class="form-control" type="text" ng-model="seva.phonenumber" name="phonenumber"
                    placeholder="आपका फ़ोन नंबर"
                    style="border-bottom: 1px dotted #999;border-left: 0;border-right: 0;border-top: 0;border-radius: 0;">
            </div>
            <div style="margin: auto;max-width: 30%;">
                <button class="btn btn-outline-secondary w-100" ng-click="submit(seva)">फार्म जमा करें</button>
            </div>
        </div>
    </form>
</div>